worker_processes 2
working_directory "{{current_path}}"

preload_app true

timeout 30

listen "{{shared_path}}/tmp/sockets/app.sock", :backlog => 64

pid "{{shared_path}}/tmp/pids/app.pid"

stderr_path "{{shared_path}}/log/unicorn.stderr.log"
stdout_path "{{shared_path}}/log/unicorn.stdout.log"

before_fork do |server, worker|
    defined?(ActiveRecord::Base) and
        ActiveRecord::Base.connection.disconnect!
end

after_fork do |server, worker|
    defined?(ActiveRecord::Base) and
        ActiveRecord::Base.establish_connection
end